.table-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: fit-content;
  height: 100%; /* 占满父容器高度 */
}

.custom-table {
  width: auto !important;
  table-layout: auto;
  min-width: fit-content;
  height: calc(100% - 40px); /* 减去标题高度 */
}

.custom-table .ant-table {
  height: 100%;
}

.custom-table .ant-table-container {
  height: 100%;
}

.custom-table .ant-table-body {
  height: calc(100% - 40px); /* 减去表头高度 */
  overflow-y: auto !important;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #f0f2f5;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.custom-table .ant-table-tbody > tr > td {
  text-align: center;
  white-space: nowrap;
}

.table-header {
  /* border-radius: 10%; */
  background-color: #f0f2f5;
  padding: 8px 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #f0f0f0;
  border-bottom: none;
  width: 100%;
}

/* 添加滚动条样式 */
.custom-table .ant-table-body {
  overflow-y: auto !important;
  max-height: 50vh !important;
}

